$theme-colors: ("primary": #0074d9,
    "danger": #c8102e,
    "light": #edeeee,
    "dark": #505759);

$line-height-base: 2;
$headings-line-height: 1.3;
$btn-font-size: 0.9rem;
$btn-font-size-lg: 1rem;
$btn-line-height: 2;
$btn-padding-x: 1rem;
$btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: 0.5rem;
$btn-padding-x-sm: 1rem;
$btn-line-height-sm: 2;
$btn-line-height-lg: 2.2;
$font-family-base: 'Merriweather Sans',
sans-serif;
$default-sizer: 50px;
$danger: #c8012e;
$dark: #505759;
$white: #fff;
$btn-font-weight: bold;
$headings-margin-bottom: 2rem;
$headings-font-weight: normal;
$enable-responsive-font-sizes: true;
$input-focus-box-shadow: 0 0 0 0.05rem rgba(0, 116, 217, 0.25);
$modal-xl: 1033px;
$navbar-nav-link-padding-x: 1rem !default;
$link-color: #c8102e;
$lead-font-size: 1.2rem;