@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

/*===============================
    General
=================================*/

html {
    scroll-behavior: smooth;
}

.container-fluid {
    max-width: 1400px;
}

main a:not(.btn):not(.nav-link) {
    text-decoration: underline;
}

/*===============================
    Spacing
=================================*/

.default-margin {
    margin-top: $default-sizer;
    margin-bottom: $default-sizer;
}

.default-margin-top {
    margin-top: $default-sizer;
}

.default-padding {
    padding-top: $default-sizer;
    padding-bottom: $default-sizer;
}

@include media-breakpoint-up(md) {
    .default-margin {
        margin-top: $default-sizer*2;
        margin-bottom: $default-sizer*2;
    }

    .default-margin-top {
        margin-top: $default-sizer*2;
    }

    .default-padding {
        padding-top: $default-sizer*2;
        padding-bottom: $default-sizer*2;
    }
}

.page-template-default:not(.home),
.error404 {
    margin-top: 90px;
}

/*===============================
    Icons
=================================*/

.material-icons {
    font-size: 21px !important;
    vertical-align: -5px !important;
    line-height: 0 !important;
}

/*===============================
    Navigation
=================================*/

.navbar {
    padding: 1rem;
}

#navbar .container {
    position: relative;
}

.navbar-brand {
    position: absolute;
    top: -7px;
    left: -64px;

    @media(max-width: 1310px) {
        position: relative;
        top: auto !important;
        left: auto !important;
    }
}

.navbar-brand img {
    width: 80px;

    @media(max-width: 1310px) {
        width: 40px !important;
        transform: none !important;
    }
}

.fixed-top,
.static-top {
    background-color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 6px 20px 0 rgba(0, 0, 0, 0);
    transition: background-color 200ms linear, box-shadow 200ms linear;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

#bs-example-navbar-collapse-1 .nav-link.btn:hover {
    color: white;
}

@media(max-width:992px) {
    #menu-menu-1 {
        padding-top: 1rem;
    }
}

/*===============================
    Hero Section
=================================*/

.inner-content {
    padding-left: 50px;

    @media(max-width:992px) {
        padding: 15px;
    }
}

.inner-content img {
    max-width: 200px;
}

#hero-bg {
    background: linear-gradient(to right, white 55%, rgba(255, 255, 255, 0) 80%),
        url('/wp-content/uploads/2019/05/hero-image-d.jpg');
    background-size: cover;
    background-position: bottom center;
    max-width: calc(100% - 30px);
    margin-left: auto;
    box-shadow: inset 20px -19px 20px 0px rgba(0, 0, 0, 0.04),
        0 6px 20px 0 rgba(0, 0, 0, 0);
    height: 540px;
    margin-top: 80px;

    @media(max-width: 1310px) {
        margin-top: 94px;
    }

    @media(max-width: 1200px) {
        height: 450px;
    }

    @media(max-width: 992px) {
        height: 410px;
        margin-top: 94px;
        background: linear-gradient(to right, #ffffff 22%, rgba(255, 255, 255, 0) 200%),
            url('/wp-content/uploads/2019/05/hero-image-d.jpg');
        background-size: cover;
        background-position: bottom left;
    }

    @media(max-width:783px) {
        background: linear-gradient(to right, #ffffff 22%, rgba(255, 255, 255, 0) 200%),
            url('/wp-content/uploads/2019/05/hero-image-d.jpg');
        background-size: cover;
        background-position: bottom left;
        max-width: calc(100% - 30px);
        margin-left: auto;
        box-shadow: inset 20px -19px 20px 0px rgba(0, 0, 0, 0.04),
            0 6px 20px 0 rgba(0, 0, 0, 0);
        height: 530px;
    }
}

#hero-bg h1 {
    font-size: 2.1rem;

    @media(max-width: 1200px) {
        font-size: 1.7rem;
    }

    @media(max-width: 992px) {
        font-size: 1.5rem;
    }
}

#hero-bg h3 {
    @media(max-width: 1200px) {
        font-size: 1.4rem;
    }
}

#hero-bg .lead {
    @media(max-width: 1200px) {
        font-size: 1rem;
    }
}

.red-square {
    height: 30px;
    width: 30px;
    background: $danger;
}

/*===============================
    Headings
=================================*/

h1 {
    font-size: 2.4rem;
}

h2 {
    color: $danger;
}

/*===============================
    Accordions
=================================*/

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion .card-header {
    cursor: pointer;
}

.accordion .card .card-header:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.accordion .card .fa-angle-down {
    float: right
}

.accordion .btn-link {
    font-weight: bold;
}

.accordion .card-body {
    padding: 3rem 2rem;
}

/*===============================
    Footer
=================================*/

footer .nav-link {
    color: white;
    font-weight: bold;
}

/*===============================
    Miscellaneous
=================================*/

#patient-brochure {
    background: url('/wp-content/uploads/2019/05/swimmer.png');
    background-position: bottom left;
    background-size: cover;
    height: 390px;

    @include media-breakpoint-up(md) {
        height: 528px;
        background-position: bottom;
    }
}



a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#finder-tool::before {
    padding-top: 50.60% !important;
}

/*===============================
    CCPA
=================================*/

#consent_blackbar {
    position: fixed;
    bottom: 0;
    z-index: 100000000;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Merriweather Sans', Arial, sans-serif !important;
}

#truste-consent-content {
    max-width: 1140px;
    margin: auto;
}

#consent_blackbar * {
    font-family: 'Merriweather Sans', Arial, sans-serif !important;
}

#truste-consent-track {
    border: none !Important;
}

#consent_blackbar a {
    color: white;
    text-decoration: underline !important;
}

#truste-consent-button,
#truste-consent-required,
#truste-show-consent {
    color: #ffffff !important;
    padding: 3px 20px !important;
    line-height: 24px !important;
    border-width: 0px !important;
    font-size: 16px !important;
    font-family: 'Merriweather Sans', Arial, sans-serif !important !important;
}

#truste-consent-button {
    background-color: #c8102e !important;
}

#truste-consent-track {
    background-color: #9A9B9B !important;
}

#truste-consent-required,
#truste-show-consent {
    background-color: #B7B09C !important;
}

#truste-consent-required:hover,
#truste-show-consent:hover {
    background-color: #948f7f !important;
}

#truste-consent-button:hover {
    color: #fff !important;
    background-color: #990c23 !important;
}

.truste-messageColumn {
    margin: 10px 0px 10px 0px !important;
}

#truste-consent-track {
    padding: 15px 60px;
}

@media (max-width: 1024px) {
    #truste-consent-track {
        padding: 15px 15px !important;
    }

    .truste-buttonsColumn {
        float: left !important;
    }
}