/*
 Theme Name:   MyResilientValve Child
 Author:       Edwards Lifesciences
 Template:     myresilientvalve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@media(max-width:783px) {
    #hero-bg {
        background: linear-gradient(to right, #ffffff 22%, rgba(255, 255, 255, 0) 200%),
            url('/wp-content/uploads/2019/05/hero-image-d.jpg');
        background-size: cover;
        background-position: bottom left;
        max-width: calc(100% - 30px);
        margin-left: auto;
        box-shadow: inset 20px -19px 20px 0px rgba(0, 0, 0, 0.04),
            0 6px 20px 0 rgba(0, 0, 0, 0);
        height: 400px;
    }
}

.navbar {
    padding: 2.5rem;
}

@media (max-width:1310px) {
    .navbar {
        padding: 1rem;
    }
}